<section class="startArea">

    <div class="startArea-title text-center">选择编辑类型</div>

    <div class="container startArea-list">
        <a class="startArea-item" href="http://www.yi-gather.com/editor/app/static.html">
            静态编辑器这边进
            <br/>
            (我就是我，样式不一样的链接)
        </a>

        <div class="startArea-item startArea-activity">
            <div class="startArea-item-background" start-item="activity">
                <div class="icons-index_activity"></div>
            </div>
            <div class="startArea-item-content">(时间、地点、内容)</div>
        </div>
    </div>

</section>
