<div class="successArea container">
    <div class="success-article">
        <div class="success-title">
            发布成功
        </div>
    </div>

    <div class="success-interact">
        <div class="success-interact-recode">
            <img ng-src="{{ codeurl }}" alt=""/>
            <a href="{{ h5url }}">{{ h5url }}</a>
            <small>扫描二维码就能查看报名表</small>
        </div>
    </div>

    <div class="success-buttons">
        <button class="custom-button custom-button-red" ng-click="success()">确定</button>
        <div class="custom-buttons-tip">点击确定开始新的编辑</div>
    </div>
</div>
