@import "../../modules/reset";
@import "../../modules/public";
@import "../../modules/yiqi_icon";
@import "../../modules/ui";
@import "../../modules/simpleForm";
@import "editPassword";

.editPassword-forget {

    .panel-content {
        width: 280px;
    }

    .forget-text {
        line-height: 20px;
        color: #999;
    }

    .form-control.forget {
        margin: 20px 0 0;

        .form-control-label {
            float: none;
            width: 100%;
            text-align: left;
        }

        .form-control-input {
            float: none;
            width: 100%;
            top: 0;
            padding: 0;
            margin: 14px 0 0;
        }

        .form-control-text {
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .valid-error {
            left: 290px;
        }
    }

    .form-control-buttons {
        padding: 0;
        margin-top: 20px;

        .form-control-button-submit {
            margin: 0 0 0 20px;
        }
    }

    .forget-success-text {
        color: #999;
        line-height: 18px;
        margin: 0 0 0 20px;
    }
}

@media all and (max-width: 720px) {

    .editPassword-forget {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 110;
        background: #fff;

        .panel {
            width: 100%;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding: 0 15px;
        }

        .panel-content {
            width: 100%;
        }

        .valid-error {
            display: block;
            position: inherit;
            left: inherit;
            top: inherit;
            width: auto;
        }
    }
}