@import "../../modules/reset";
@import "../../modules/public";
@import "../../modules/yiqi_icon";
@import "../../modules/ui";
@import "../../modules/simpleForm";
@import "editPassword";

.editPassword-reset {

    .form-control {
        padding: 0 0 20px;
    }

    .form-control-label {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0 0 20px;
    }

    .form-control-input {
        float: none;
        display: block;
        padding: 0;
        position: inherit;
        width: 100%;
    }

    .form-control-text {
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .form-control-button {
        margin: 0 0 0 20px;
    }
}

