@mixin android-body() {
    $selector: #{&};
    @at-root {
        html.android-body {
            #{$selector} {
                @content
            }
        }
    }
}

@mixin ios-body {
    $selector: #{&};
    @at-root {
        html.ios-body {
            #{$selector} {
                @content
            }
        }
    }
}

@mixin weixin-body {
    $selector: #{&};
    @at-root {
        html.weixin-body {
            #{$selector} {
                @content
            }
        }
    }
}

@mixin android-vunit {
    $selector: #{&};
    @at-root {
        html.android-vunit {
            #{$selector} {
                @content
            }
        }
    }
}

@mixin android-flex {
    $selector: #{&};
    @at-root {
        html.android-flex {
            #{$selector} {
                @content
            }
        }
    }
}

@function width-rem($width) {
    @return $width/($font-base-size*2) + rem;
}

@function height-rem($height) {
    @return $height/($font-base-size*2) + rem;
}

@function percent($num) {
    @return $num * 100;
}

@function percent-width($num) {
    @return $num * 100 + vw;
}

@function percent-height($num) {
    @return $num * 100 + vh;
}

@mixin width-vw($width) {
    width: percent-width($width/$origin-width);
    @include android-vunit {
        width: width-rem($width);
    }
}

@mixin height-vw($height) {
    height: percent-width($height/$origin-width);
    @include android-vunit {
        height: width-rem($height);
    }
}

@mixin height-vh($height) {
    height: percent-height($height/$origin-height);
    @include android-vunit {
        height: height-rem($height);
    }
}

@mixin min-height-vw($height) {
    min-height: percent-width($height/$origin-width);
    @include android-vunit {
        min-height: width-rem($height);
    }
}

@mixin background-device($src2, $src3) {
    background-image: $src2;
    background-image: -webkit-image-set(
        $src2 2x,
        $src3 3x
    );
}

//@function content-vunit($width, $height) {
//    $widthStr: str-replace($width, 'vw', '1111111' );
//    $heightStr: str-replace($height, 'vw', '\\\\' );
//    $result:  width_ + $widthStr  + __height_ +  $height;
//    @return str-replace($result, '.', '-');
//}
