@import "../../lib/media-queries";
@import "../../modules/reset";
@import '../../modules/device';
$origin-width: 320;
$font-base-size: 7;
html,body{
  height: 100%;
  font-size: 14px;
  background: #eee;
  color: #666;
}
.hide{
  display: none;
}
$c_orange:#ef583f;
input{
  color:#ccc;
}
.container{
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.top{
  flex: 1;
  width: 100%;
}
.main{
  .yiqi-logo{
    @include width-vw(75);
    //width: (7500vw/320);
  }
  .triangle{
    display: block;
    width: 0;
    height: 0;
    border: 8px solid #eee;
    border-bottom: 8px solid #fff;
    margin: 0 auto;
  }
  .box{
    background: #fff;
    margin: 0 auto;
    @include width-vw(255);
    padding: 12px;
    border-radius: 2px;
    text-align: left;
    font-size: 12px;
    input{
      width: 100%;
      padding: 12px;
      background: #eee;
      box-sizing: border-box;
      border: none;
      margin-bottom: 12px;
      &:focus{
        outline: none;
      }
    }
  }
  .head-text{
    font-style: (12rem/14);
    margin-bottom: 12px;
  }
  .submit-btn{
    width: 100%;
    background: $c_orange;
    color: #fff;
    height: 38px;
    line-height: 38px;
    border: none;
    border-radius: 2px;
  }
  .success-box{
    .status{
      padding-bottom: 8px;
      display: block;
      border-bottom: 1px solid #ccc;
      width: 100%;
      color: #999;
    }
    .alert-info{
      margin: 12px 0;
      color: #999;
    }
    .info{
      color: #666;
      margin-bottom: 12px;
      .dot{
        color: #ccc;
        margin: 0 5px;
        font-weight: bold;
      }
    }
  }
}
.bottom{
  flex: 2;
  width: 100%;
}

.android-body{
  .container{
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
  }
}