@import "../../modules/reset";
@import "../../modules/public";
@import "../../modules/yiqi_icon";
@import "../../modules/ui";
@import "../../modules/simpleForm";

.form-control-button {
    width: 80px;
    line-height: 34px;
    height: 34px;
    padding: 0;
}