//@import "compass/css3";
@import '../../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.server-form {
    background-color: #000;

    .form-title {
        color: #ef583f;
        font-size: 30px;
        padding: 15px 0 10px;
        font-weight: bold;
    }

    form {
        padding-bottom: 30px;

        label {
            color: #333;
        }

        .form-control {
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #fff;
            height: 40px;
            margin-bottom: 10px;
            @include box-shadow(none);
            -webkit-appearance: none;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder
        {
            color: #d1d1d1;
        }

        textarea.form-control {
            height: 150px;
        }

        .valid-error{
            color: #ef583f;
            position: relative;
            top: -5px;
        }
    }

    .form-button{
        width: 100%;
        font-size: 16px;
        background: #000;
        color: #fff;
        padding: 10px 0;
        @include box-shadow(none);
        -webkit-appearance: none;
    }
}
