@import '_bootstrap_base.scss';
@import '_download.scss';
html{
  font-size: 14px;
}
body {
  background-color: #f1f1f1;
}

.info-main {
  display: none;
}

.btn {
  &:focus, &:active {
    outline: none;
  }
}
a:hover, a:focus {
  text-decoration: none;
}
.personal {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #999;
  padding-bottom: 12px;
  .list-box {
    background: #fff;
    box-shadow: 0 2px #e8e8e8;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 160px;
    padding: 10px;
    margin-top: 18px;
  }
  .list-box-left {
    float: left;
    position: relative;
    width: 140px;
    overflow: hidden;
    height: 140px;
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
  }
  h2 {
    font-size: 16px;
    color: #666;
    margin: 0 0 12px 0;
    font-weight: bold;
  }
  .list-box-right {
    padding-right: 0;
    margin-left: 150px;
    p {
      font-size: 12px;
      color: #666;
      margin: 6px 0 10px 0;
      font-weight: bold;
    }
    .text {
      border-top: 1px solid #e5e5e5;
      padding-top: 11px;
      font-size: 12px;
    }
    .location {
      margin-bottom: 6px;
      img {
        width: 10px;
      }
      span {
        font-size: 12px;
        color: #666;
        font-weight: bold;
        margin-left: 5px;
      }
    }
    .marks-btn {
      .marks-btn-box {
        height: 28px;
        overflow: hidden;
      }
      span {
        display: inline-block;
        padding: 0 5px;
        margin-right: 3%;
        border: 1px solid #ef583f;
        color: #ef583f;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        margin-bottom: 3px;
      }
      span:nth-child(3) {
        margin-right: 0;
      }
      p {
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .list-box-right {
    h2 {
      margin-bottom: 5px;
    }
    .text {
      padding-top: 8px;
    }
  }
}

.team {
  .list-box {
    margin-top: 18px;
  }
  .team-header-pic {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 55.555556%;
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
  }
  .header-title {
    margin-top: 18px;
    padding: 0 5px;
    h2 {
      display: inline-block;
      font-size: 16px;
      color: #666;
      margin: 0;
    }
    .location {
      display: inline-block;
      float: right;
      color: #666;
      img {
        width: 10px;
        margin-right: 5px;
      }
    }
  }

}

/*公用样式开始*/
.content {
  margin-top: 24px;
  color: #333;
  padding: 0 5px 12px;
  font-size: 14px;
  line-height: 22px;
}

.detail-header {
  margin-top: 18px;
  h1 {
    display: inline-block;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin: 0;
  }
  .head-class {
    display: inline-block;
    background: #ef583f;
    color: #fff;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 4px;
    margin-left: 5px;
    vertical-align: top;
  }
}

.form-button {
  width: 95%;
  font-size: 16px;
  margin-left: 2.5%;
  background: #333333;
  color: #fff;
  padding: 10px 0;
  @include box-shadow(none);
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  &:link,&:hover,&:visited,&:focus,&:active{
     color:#fff;
     text-decoration:none;
  }
}


.get-info-erro {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  padding: 10px;
  p{
    text-align: center;
    margin-bottom: 10px;
  }
}

/*公用样式结束*/

/*成为雁行者样式表*/
.introduce{
  .banner{
    width: 100%;
    position: relative;
    text-align: center;
    img{
      width: 100%;
    }
    .text{
      position: absolute;
      bottom: 10px ;
      width: 60%;
      left: 20%;
      p{
        font-size: 1rem;
        color:#fff;
        margin-bottom: 10px;
      }
      .btn-introduce{
        color: #ef583f;
        border-radius: 22px;
        background: #fff;
        padding: 10px 50px;
        font-size: 1.2857rem;
        display: block;
        &:link,&:hover,&:visited,&:focus,&:active{
          color:#ef583f;
          text-decoration: none;
        }
      }
    }
    @media screen and (min-width:374px){
      .text {
        bottom: 20px;
      }
    }
    @media screen and (max-width:373px){
      .text {
        width: 70%;
        left: 15%;
      }
    }
    @media screen and (width:320px){
      .text {
        p{
          margin-bottom: 6px;
        }
      }
    }
  }
  .intro-body{
      padding: 12px;
    .intro-article {
      background: #fff;
      padding: 24px;
    }
    .feature{
        margin-top: 24px;
      &:before {
        content: '';
        display: block;
        width: 2rem;
        height: 1.8rem;
        background-image: url('/images/pages/server/feature_intro.png');
        background-size: 100% 100%;
        margin-bottom: 12px;
      }
      &:first-child{
        margin-top: 0;
      }
      .feature-title{
        color: #222;
        font-size: 1.2857142857rem;
        font-weight: 700;
        padding-bottom: 3px;
      }
      .feature-content {
        font-size: 1rem;
        line-height: 24px;
        color: #333;
      }
    }
  }
  .contect-us{
    border-top: 1px solid #ddd;
    padding-top: 24px;
    margin-top: 24px;
    p{
      color:#666;
      font-size: 1rem;
      margin: 0;
      line-height: 24px;
    }
  }
  .alert{
    display: none;
    background: rgba(0,0,0,.6);
    color: #fff;
    width: 50%;
    position: fixed;
    bottom: 20px;
    left: 25%;
    text-align: center;
    line-height: 44px;
    height: 44px;
    border-radius: 22px;
  }
}


