/*      chrome transition hack    */
.header-nav-link {
    -webkit-transition-property: color;
}

body {
    background: #f5f5f5;
}

.sign {
    padding: 54px 0 0;
    min-height: 600px;
}

.title {
    font-size: 18px;
    padding: 0 0 10px 0;
}

.sign-step {
    font-size: 14px;
}

.sign-step-item {
    color: #999;
    display: inline-block;
    margin: 0 12px 0 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    font-size: 12px;
    vertical-align: bottom;
    font-family: "Microsoft YaHei";
}

.sign-step-item.active {
    color: #fff;
    background: #bfbfbf;
    height: 38px;
    line-height: 38px;
}

.sign-step-index {
    font-size: 20px;
    padding: 0 3px 0 0;
}

.sign-step-text {
    position: relative;
    top: -1px;
}

.sign-step-item.active .sign-step-index {
    font-size: 26px;
    background: #333;
    height: 100%;
    display: inline-block;
    padding: 0 10px;
}

.sign-step-item.active .sign-step-text {
    padding: 0 15px;
    vertical-align: top;
    top: 0;
}

.sign-form {
    padding: 38px 0 0;
}

.sign-form-step {
    float: left;
    clear: both;
}

.form-control {
    margin: 10px 0;
}

.form-control:after {
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}

.form-control.deal{

}

.form-control-label {
    font-size: 14px;
    padding: 0 10px 0 0;
    float: left;
    width: 70px;
    text-align: right;
    position: relative;
    top: 11px;
}

.form-control-input{
    float: left;
    padding: 0 0 0 10px;
}

.sign-form-step.interest .form-control{
    margin: -5px 0 0;
}

.sign-form-step.interest .form-control.job{
    margin-bottom: 50px;
}

.sign-form-step.interest .form-control-label{
    display: block;
    float: none;
    width: auto;
    font-size: 18px;
    text-align: left;
    top: 0;
}

.sign-form-step.interest .form-control.job .form-control-label{
    padding: 0 0 15px;
}


.sign-form-step.interest .form-control-input{
    float: none;
    padding-left: 0;
}

.form-control-text {
    border: 1px solid #cbcbcb;
    width: 280px;
    height: 38px;
    padding: 0 5px;
}

@media screen\0  {
    .form-control-text{
        line-height: 38px;
    }
}

.form-control-text:focus {
    border-color: #7fb715;
    box-shadow: 0 0 5px 1px #7fb715;
    outline: 0;
}

.form-control-customSelect {
    width: 138px;
    margin: 0 8px 0 0;
    border-color: #cdcdcd;
}

.form-control-customSelect-button{
    border-color: #cdcdcd;
}

.form-control-select:focus {
    outline: 0;
}

.form-buttonArea {
    padding: 20px 0 0;
}

.form-button {
    padding: 0;
    width: 80px;
    height: 34px;
    line-height: 34px;
}

.sign-form-step.base .form-buttonArea {
    padding: 30px 0 0 213px;
}

.form-button.gray{
    margin: 0 5px 0 0   ;
}

.sign-form-step.interest .form-buttonArea {
    text-align: center;
    padding: 30px 0 0 262px;
}

.form-control-deal-checkbox{
    display: block;
    padding-bottom: 15px;
    position: relative;
}

.form-control-deal-checkbox input{
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.form-control-deal-checkbox .valid-error{
    position: absolute;
    right: -75px;
    top: 0;
}

.form-control-checkboxGroup {
    padding: 20px 0 0;
    width: 450px;
}

.form-control-customCheckbox {
    width: 75px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 5px 0;
}

.form-control-customCheckbox .form-control-checkbox {
    width: 77px;
    height: 37px;
}

.form-control-customCheckbox .valid-error {
    position: absolute;
    left: 90px;
    width: 200px;
    text-align: left;
}

.form-control-customSelect .valid-error{
    position: absolute;
    right: -94px;
    top: 11px;
}

.valid-error {
    padding: 0 5px;
}
