body{
    background: #eaebeb;
}

/*      vip     */
.vip{
    padding: 30px 0 0;
}

/*      group       */
.group{
    padding: 42px 0 0;
}

/*      member      */
.member{
    margin: 0 28px;
    color: #666;
    width: 180px;
    float: left;
}

.member-imgArea{
    position: relative;
}

.member-img{
    width: 185px;
    height: 185px;
    border-radius: 100%;
}

.member-imgMask{
    background-color: #000;
    opacity: 0;
    filter:alpha(opacity=0);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 185px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.member-imgMask:hover{
    opacity: .3;
    filter:alpha(opacity=30);
}

.member-info{
    text-align: center;
    margin: 20px 0 0;
}

.member-name{
    font-size: 18px;
    margin: 0 0 10px;
}

.mamber-job{
    font-size: 14px;
}

.member-introduction{
    margin: 10px 0 0;
    border-top: 1px solid #8f8f8f;
    padding-top: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
}

/*      join       */
.join{
    padding: 42px 0;
}

.join-type{
    width: 50%;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float: left;
    width: 48%\9;
}

.join-type-header{
    width: 100%;
}

.join-type-header:hover{
    text-decoration: none;
}

.join-type-img{
    height: 196px;
    width: 100%;
}

.join-type-member .join-type-img{
    background: url(../../images/pages/vip/vip_03.jpg);
}

.join-type-enter .join-type-img{
    background: url(../../images/pages/vip/vip_04.jpg);
}

.join-type-link{
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.join-type-link:hover{
    text-decoration: none;
}

.join-type-member .join-type-link{
    background: #e65e60;
}

.join-type-enter .join-type-link{
    background: #222;
}

.join-right{
    background: #fff;
    padding: 20px;
    font-size: 14px;
    line-height: 25px;
    min-height: 400px;
}

.join-type-member .join-right{
    border-right: 1px solid #e5e5e5;
}