/* line 96, house/icons/*.png */
.icons-sprite, .icons-arrow, .icons-days, .icons-h1, .icons-h2, .icons-people, .icons-phone, .icons-success {
  background-image: url('/images/house/icons-s43d9a73fc4.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow {
  background-position: 0 0;
  height: 18px;
  width: 11px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-days {
  background-position: 27.00297% 0;
  height: 80px;
  width: 80px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h1 {
  background-position: 0 19.34236%;
  height: 417px;
  width: 417px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h2 {
  background-position: 0 100%;
  height: 417px;
  width: 417px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-people {
  background-position: 50.74184% 0;
  height: 80px;
  width: 80px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 3.26409% 0;
  height: 80px;
  width: 80px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-success {
  background-position: 79.17981% 0;
  height: 100px;
  width: 100px;
}
